<div class="panier-container">
  <h2>Votre Panier</h2>
  <div class="panier_vide" *ngIf="cartItems.length === 0">
    Votre panier est vide.
  </div>

  <div *ngFor="let item of cartItems" class="cart-item">
    <img
      [src]="item.photo.img_url"
      [alt]="'Photo ' + item.photo.id"
      class="cart-img"
    />

    <div class="cart-info">
      <label for="size">Taille :</label>
      <select
        [(ngModel)]="item.size"
        (change)="updateItemPrice(item)"
        name="size"
      >
        <option value="10x15">10x15 cm - 5€</option>
        <option value="15x20">15x20 cm - 8€</option>
      </select>

      <label for="quantity">Quantité :</label>
      <input
        type="number"
        [(ngModel)]="item.quantity"
        min="1"
        (input)="updateTotal()"
      />

      <p>Prix : {{ item.price * item.quantity }}€</p>
      <button class="delete" (click)="supprimer(item.photo.id)">❌</button>
    </div>
  </div>

  <!-- Récapitulatif -->
  <div class="recap-container" *ngIf="cartItems.length > 0">
    <h3>Récapitulatif</h3>
    <p>Nombre total de photos : {{ totalQuantity }}</p>
    <p>Prix total : {{ totalPrice }}€</p>
    <button (click)="commander()" class="btn-commander">Commander</button>
  </div>
</div>
