<div class="main-container">
  <div class="panier-container">
    <h2>Votre Panier</h2>
    <div class="panier_vide" *ngIf="cartItems.length === 0">
      Votre panier est vide.
    </div>

    <div *ngFor="let item of cartItems" class="cart-item">
      <img
        [src]="item.photo.img_url"
        [alt]="'Photo ' + item.photo.id"
        class="cart-img"
      />

      <div class="cart-info">
        <label for="quantity">Quantité :</label>
        <input
          type="number"
          [(ngModel)]="item.quantity"
          min="1"
          (input)="updateTotal()"
        />

        <p>Prix : {{ 5 * item.quantity }}€</p>
        <button class="delete" (click)="supprimer(item)">❌</button>
      </div>
    </div>

    <!-- Récapitulatif -->
    <div class="recap-container" *ngIf="cartItems.length > 0">
      <h3>Récapitulatif</h3>
      <p>Nombre total de photos : {{ totalQuantity }}</p>
      <p>Prix total : {{ totalPrice }}€</p>
      <button (click)="commander()" class="btn-commander">Commander</button>
    </div>

    <div *ngIf="afficherFormulaire" class="formulaire-container">
      <h2>Finaliser la commande</h2>
      <h3>
        La commande vous sera envoyé par mail a la suite de la réception du
        payement
      </h3>
      <form (ngSubmit)="validerCommande()" #commandeForm="ngForm">
        <label for="prenom">Prénom :</label>
        <input
          type="text"
          id="prenom"
          name="prenom"
          [(ngModel)]="commande.prenom"
          required
        />

        <label for="nom">Nom :</label>
        <input
          type="text"
          id="nom"
          name="nom"
          [(ngModel)]="commande.nom"
          required
        />

        <label for="email">Email :</label>
        <input
          type="email"
          id="email"
          name="email"
          [(ngModel)]="commande.email"
          required
        />

        <button
          type="submit"
          [disabled]="!commandeForm.form.valid"
          class="btn-valider"
        >
          Valider la commande
        </button>
      </form>
    </div>
  </div>
</div>
