<div class="kanban-container">
  <h2>
    Liste des Commandes<br />
    (Ceci est une page de test)
  </h2>

  <div class="kanban-columns">
    <div class="kanban-column" *ngFor="let statut of statuts">
      <h3>{{ statut }}</h3>
      <div
        class="commande-card"
        *ngFor="let commande of getCommandesParStatut(statut)"
      >
        <div class="commande-details">
          <p><strong>ID:</strong> {{ commande.id }}</p>
          <p><strong>Client:</strong> {{ commande.client }}</p>
          <p><strong>Articles:</strong></p>
          <ul>
            <li *ngFor="let article of commande.panier">
              <img
                [src]="article.photo.img_url"
                alt="photo id :{{ article.photo.id }}"
                width="50"
              />
              {{ article.photo.id }} (x{{ article.quantity }})
              <br />
              Taille: {{ article.size }} - Prix: {{ article.price }}€
            </li>
          </ul>
        </div>
        <button (click)="modifierCommande(commande)">Modifier</button>
      </div>
    </div>
  </div>
</div>
