<footer class="footer">
  <div class="footer-content">
    <div class="footer-links">
      <a href="#" class="footer-link">Conditions Générales</a>
      <a href="#" class="footer-link">Mentions Légales</a>
      <a href="#" class="footer-link">Contact</a>
    </div>
    <div class="social-icons">
      <a href="#" class="social-link">
        <img
          src="assets/facebook-icon.png"
          alt="Facebook"
          class="social-icon"
        />
      </a>
      <a href="#" class="social-link">
        <img src="assets/twitter-icon.png" alt="Twitter" class="social-icon" />
      </a>
      <a href="#" class="social-link">
        <img
          src="assets/instagram-icon.png"
          alt="Instagram"
          class="social-icon"
        />
      </a>
    </div>
  </div>
  <div class="copyright">
    &copy; 2025 Vente de Photos. Tous droits réservés.
  </div>
</footer>
