<header>
  <div class="logo">
    <a [routerLink]="['/']">
      <img src="Logo-site.png" alt="Logo de mon site" />
    </a>
  </div>

  <div class="cart">
    <ul>
      <li><a [routerLink]="['/commandes']">📦 Commandes</a></li>
      <li>
        <a [routerLink]="['/panier']" class="cart-link">
          <img src="Panier.png" alt="Panier" />
          <span class="cart-count" *ngIf="cartCount > 0">{{ cartCount }}</span>
          <!-- Remplace 3 par le nombre d'articles dans le panier -->
        </a>
      </li>
    </ul>
  </div>
</header>
