<header class="header">
  <div class="header-content">
    <div class="logo">
      <a [routerLink]="['/']">
        <img src="Logo-site.png" alt="Logo de mon site" class="logo-img" />
      </a>
    </div>

    <nav class="cart">
      <ul class="nav-list">
        <li>
          <a [routerLink]="['/commandes']" class="nav-link">
            <span class="nav-icon">📦</span>
            <span class="nav-text">Commandes</span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/panier']" class="cart-link">
            <img src="Panier.png" alt="Panier" class="cart-icon" />
            <span class="cart-count" *ngIf="cartCount > 0">{{
              cartCount
            }}</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
